{{! ---
block: author
============================================

--- }}

<section class="b-author">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <div class="content">
                    <h2>VỀ TÁC GIẢ</h2>
                    <p class="matb18"><strong><em>Jessica Hagy</em></strong> nổi tiếng với giải thưởng <em>Webby Award</em> dành cho trang blog cá nhân Indexed của mình. Tranh biếm họa của cô thường xuyên xuất hiện trên tờ New York Times và cô phụ trách một mục báo online cho Forbes. Hagy hiện sống cùng gia đình ở Seattle.
                    <br>Đọc thêm các bài viết mới của tác giả tại <a href="http://jessicahagy.info" target="_blank">jessicahagy.info</a></p>
                    <button type="button" class="btn btn-cta btn-light">ĐẶT MUA NGAY</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="img/temp/pictures/jessica-hagy-480.jpg, img/temp/pictures/jessica-hagy-480_2x.jpg 2x" media="(min-width: 768px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="img/temp/pictures/jessica-hagy-320.jpg, img/temp/pictures/jessica-hagy-320_2x.jpg 2x" alt="Jessica Hagy">
                </picture>
            </div>
        </div>
    </div>
</section>
