{{! ---
block: author
============================================

--- }}

<section class="b-author">
    <div class="container">
        <div class="row">
            <div class="author">
                <div class="fade-wrapper">
                    <div class="myfade"></div>
                    <img class="author-image" src="img/jessica-hagy-author.jpg" alt="Jessica Hagy">
                </div>
            </div>
            <div class="col-md-8 col-sm-7 mytext-wrapper">
                <div class="content text-justify">
                    <h2>VỀ TÁC GIẢ</h2>
                    <p class="matb18"><strong><em>Jessica Hagy</em></strong> nổi tiếng với giải thưởng <em>Webby Award</em> dành cho trang blog cá nhân Indexed của mình. Tranh biếm họa của cô thường xuyên xuất hiện trên tờ New York Times và cô phụ trách một mục báo online cho Forbes. Hagy hiện sống cùng gia đình ở Seattle.
                    <br>Đọc thêm các bài viết mới của tác giả tại <a href="http://jessicahagy.info" target="_blank">jessicahagy.info</a></p>
                    <button type="button" class="btn btn-cta btn-light">ĐẶT MUA NGAY</button>
                </div>
            </div>
        </div>
    </div>
</section>
