{{! ---
block: featured
============================================

--- }}

<section class="b-featured">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>NỘI DUNG NỔI BẬT</h2>
                <a class="fancybox" rel="group" href="img/temp/base/70-71.jpg">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="img/temp/pictures/70-71-1440.jpg" media="(min-width: 1440px)">
                        <source srcset="img/temp/pictures/70-71-1070.jpg, img/temp/pictures/70-71-1070_2x.jpg 2x" media="(min-width: 1280px)">
                        <source srcset="img/temp/pictures/70-71-768.jpg, img/temp/pictures/70-71-768_2x.jpg 2x" media="(min-width: 1024px)">
                        <source srcset="img/temp/pictures/70-71-640.jpg, img/temp/pictures/70-71-640_2x.jpg 2x" media="(min-width: 768px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="img/temp/pictures/70-71-320.jpg, img/temp/pictures/70-71-320_2x.jpg 2x" alt="Jessica Hagy">
                    </picture>
                </a>
                <a class="fancybox" rel="group" href="img/temp/base/94-95.jpg">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="img/temp/pictures/94-95-1440.jpg" media="(min-width: 1440px)">
                        <source srcset="img/temp/pictures/94-95-1070.jpg, img/temp/pictures/94-95-1070_2x.jpg 2x" media="(min-width: 1280px)">
                        <source srcset="img/temp/pictures/94-95-768.jpg, img/temp/pictures/94-95-768_2x.jpg 2x" media="(min-width: 1024px)">
                        <source srcset="img/temp/pictures/94-95-640.jpg, img/temp/pictures/94-95-640_2x.jpg 2x" media="(min-width: 768px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="img/temp/pictures/94-95-320.jpg, img/temp/pictures/94-95-320_2x.jpg 2x" alt="Jessica Hagy">
                    </picture>
                </a>
                <a class="fancybox" rel="group" href="img/temp/base/134-135.jpg">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="img/temp/pictures/134-135-1440.jpg" media="(min-width: 1440px)">
                        <source srcset="img/temp/pictures/134-135-1070.jpg, img/temp/pictures/134-135-1070_2x.jpg 2x" media="(min-width: 1280px)">
                        <source srcset="img/temp/pictures/134-135-768.jpg, img/temp/pictures/134-135-768_2x.jpg 2x" media="(min-width: 1024px)">
                        <source srcset="img/temp/pictures/134-135-640.jpg, img/temp/pictures/134-135-640_2x.jpg 2x" media="(min-width: 768px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="img/temp/pictures/134-135-320.jpg, img/temp/pictures/134-135-320_2x.jpg 2x" alt="Jessica Hagy">
                    </picture>
                </a>
                <button type="button" class="btn btn-cta btn-gray">ĐẶT MUA NGAY</button>
            </div>
        </div>
    </div>
</section>
