{{! ---
block: introduction
============================================

--- }}

<section class="b-introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-8 col-sm-5 col-sm-push-7 cover text-center">
                <img srcset="img/mock-up-htbi.jpg, img/mock-up-htbi@2x.jpg 2x" alt="LÀM SAO ĐỂ TRỞ NÊN THÚ VỊ">
                <div class="clearfix"></div>
            </div>
            <div class="col-md-8 col-md-pull-4 col-sm-7 col-sm-pull-5 left-info">
                <h1>LÀM SAO ĐỂ TRỞ NÊN THÚ VỊ</h1>
                <div class="matb18">
                    Kết hợp những bài học cuộc sống tươi mới và súc tích, những trang viết thường chỉ có một hoặc hai câu, với những sơ đồ và đồ thị tưởng như đơn giản, quyển chỉ dẫn đầy cảm hứng này sẽ giúp bạn biết cách làm thế nào để hướng đến một đời sống phong phú hơn.
                </div>
                <div class="matb18">
                    <strong>10 bước đơn giản để trở nên thú vị</strong> đầy nồng nhiệt, tích cực, thiết thực và cực kì lạc quan. Hơn 100 trang sách đôi sẽ nhẹ nhàng đẩy người đọc ra khỏi vùng an toàn của họ một chút để bước vào nơi mà mọi thứ bất ngờ đều có thể xảy ra.<br>
                    Cuốn sách nói về việc nắm bắt cơ hội – nhưng cũng đề cập đến cách nghỉ ngơi mỗi ngày.
                </div>
                <div class="matb18">
                    Sách nói về tính ngây thơ, chứ không phải ngây ngô; về các ý tưởng, sự sáng tạo và rủi ro. Có đoạn nhắc ta hãy tin tưởng vào tài năng của mình và chỉ làm những điều ta muốn – nhưng cũng hãy can đảm, chấp nhận đi lạc và để xem con đường dẫn ta tới đâu. Bởi vì đó là những điều mà bạn không biết rằng sẽ rất thú vị.</div>
                <button type="button" class="pull-right btn btn-cta btn-dark">ĐẶT MUA NGAY</button>
            </div>
        </div>
    </div>
</section>
