{{! ---
block: testimonials
============================================

--- }}

<section class="b-testimonials">
    <div class="container-fluid">
        <div class="owl-carousel owl-theme">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>LỜI NHẬN XÉT</h2>
                    <div class="quote">“Nếu có một nhà tư tưởng để đánh cắp, thì đó là Jessica Hagy”</div>
                    <img srcset="img/amazon-logo.png, img/amazon-logo@2x.png 2x" alt="amazon 1" class="amazon-logo">
                    <div class="reviewer">Austin Kleon – Tác giả Steal Like an Artist và Newspaper Blackout</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>LỜI NHẬN XÉT</h2>
                    <div class="quote">
                        “Jessica Hagy thật tuyệt vời. Cô thích dùng các sơ đồ Venn và đồ thị. Tuy nhiên đừng dùng quyển
                        sách này cho nghiên cứu kết luận. Hầu hết các hình ảnh mô tả ngắn gọn được bản chất sự việc. Rất
                        dễ nhìn và dễ hiểu đối với cả người chuyên về toán học.”</div>
                    <img srcset="img/amazon-logo.png, img/amazon-logo@2x.png 2x" alt="amazon 1" class="amazon-logo">
                    <div class="reviewer">Pramath Mallik [độc giả AMAZONE]</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>LỜI NHẬN XÉT</h2>
                    <div class="quote">
                        “Quyển sách dễ thương nhưng rất sâu sắc”</div>
                    <img srcset="img/amazon-logo.png, img/amazon-logo@2x.png 2x" alt="amazon 1" class="amazon-logo">
                    <div class="reviewer">Stephanie Bauduhin [độc giả AMAZONE]</div>
                </div>
            </div>
        </div>
    </div>
</section>
