/* ===================================================
BASE
=================================================== */

@font-face {
	font-family: "UTM Avo";
	font-weight: bold;
	font-style: normal;

	src: url("../fonts/subset-UTMAvoBold.eot");
	src: local("UTM Avo"), local("UTM Avo Bold"),
	url("../fonts/subset-UTMAvoBold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/subset-UTMAvoBold.woff2") format("woff2"),
	url("../fonts/subset-UTMAvoBold.woff") format("woff"),
	url("../fonts/subset-UTMAvoBold.ttf") format("truetype"),
	url("../fonts/subset-UTMAvoBold.svg#UTMAvoBold") format("svg");
}
/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
	font-size: 62.5%;

	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 1.80062305;
}

h1,
h2 {
	font-family: "UTM Avo", sans-serif;
	font-size: 24px;
	font-weight: bold;

	margin: 10px 0;
}
em {
	font-style: italic;
}
// styling of console output element (triggered by parameter 'devmode' and 'logger' in url)
#logger {
	font-size: 14px;

	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 20px;
	left: 20px;

	overflow-y: auto;

	height: calc(100% / 6);
	padding: 20px;

	color: #fff;
	border: 10px solid red;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.9);
}
