/* ===================================================
BASE
=================================================== */

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
	font-size: 62.5%;

	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
}

// styling of console output element (triggered by parameter 'devmode' and 'logger' in url)
#logger {
	font-size: 14px;

	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 20px;
	left: 20px;

	overflow-y: auto;

	height: calc(100% / 6);
	padding: 20px;

	color: #fff;
	border: 10px solid red;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.9);
}

