.matb18 {
	padding: 12.5px 0;
}
.btn-cta {
	font-size: 17px;
	font-weight: 600;

	padding: 17px 47px;

	border: none;
}
.btn-dark {
	color: $light;
	background-color: $btn-dark;
	&:hover {
		color: lighten($light,10%);
		background-color: darken($btn-dark,20%);
	}
}
.btn-light {
	color: $btn-dark;
	background-color: $light;
	&:hover {
		color: $light;
		background-color: $btn-dark;
	}
}
.btn-gray {
	color: #fff;
	background-color: #3f423c;
	&:hover {
		color: $light;
		background-color: $btn-dark;
	}
}
.shadow {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.forced-center {
	float: none;

	margin: 0 auto;
}
.no-padding {
	padding: 0;
}
@media (min-width:768px) {
	.valign {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox; /* TWEENER - IE 10 */
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		> [class*="col-sm"] {
			display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox; /* TWEENER - IE 10 */
			display: -webkit-flex;
			display: flex;

			align-items: center;
			justify-content: center;
		}
	}
}
